<html>

<head>
    <link href="style.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body >
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <img src="	https://www.nitsglobal.com/assets/images/logo.png" alt="logo" id="logo"/>
                </div>
                 <a class="navbar-brand" href="#">NITS SOFTWARE</a>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Courses</a></li>
                    <li><a href="#">Placements</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div id="background_img">
        <hr/>
        <div id="statement">
            <h1>Choose the right</h1>
            <h1>theme for education ....</h1>
        </div>
    </div>
    <div id="blog">
        <h2>Best platform to learn Everything</h2>
    </div>
    <div>
        
    </div>
</body>

</html>